<footer class="footer">
  {{#if page.attributes.chart}}
    <h1>CHART {{page.attributes.chart}}</h1>
  {{/if}}
  {{page.component.name}}
  {{#each site.components}}
    {{@index}} <br>
    Key: {{@key}} Values =
    <ol>
      {{#each this}}
        <li> Key: {{@key}}</li>
        <ol>
          {{#each this}}
            {{#if (eq @key 'navigation')}}
              <ol>
                {{#each this}}
                  <li> {{@key}} -> {{this}}</li>
                {{/each}}
              </ol>
            {{/if}}
            <li> Key: {{@key}} Value = {{this}} </li>
          {{/each}}
        </ol>
      {{/each}}
    </ol>
  {{/each}}
</footer>

{{!-- TODO
Add links in a list with logo, branding and some text
site.components = {
  name : string
  latest: obj
  versions: obj
}
 --}}